<table style="border-width: 0px;">
<tbody style="border-width: 0px;">
<tr>
<td style="border-width: 0px; vertical-align:top; text-align: left;" valign="top" width="100">
<a href="http://www.2dogs1hat.de" target="_blank">2Dogs1Hat</a> </br>
<div> {{ podcast.image({fallback: true}).html({width: 100}) }} </div> </td>
<td style="border-width: 0px; vertical-align:top; text-align: left;" valign="top" width="100">
Social Media: </br>
<div> [podlove-podcast-social-media-list] </div> </td>
<td style="border-width: 0px; vertical-align:top; text-align: left;" valign="top" width="150">
Spenden: </br>
<div> [podlove-podcast-donations-list] </div> </td>
</tr>
</tbody>
</table>
